@model WebApplication1.Models.MainIndexModel
<div class="form-group">
    @Html.LabelFor(m => m.Surname_Customer, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Surname_Customer, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Name_Customer, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Name_Customer, new { @class = "form-control" })
    </div>
</div>

